/* universal */

*{
    font-size: xx-large;
    color: yellow;
}

/* tagname selector */

p{
    color: green;
}

/* class name selector */

.para{
    color: aqua;
}

/* id name selector */

#first{
    color: red;
}
